/*
!/blocks
/blocks/*
!/blocks/edusharing_search
!/blocks/edusharing_upload
!/blocks/edusharing_workspace

!/filter
/filter/*
!/filter/edusharing

!/lib
/lib/*
!/lib/editor
/lib/editor/*
!/lib/editor/edusharing
!/lib/editor/atto
/lib/editor/atto/*
!/lib/editor/atto/plugins
/lib/editor/atto/plugins/*
!/lib/editor/atto/plugins/edusharing

!/mod
/mod/*
!/mod/edusharing

/.idea/*

!LICENSE
!README.md
filter/edusharing/version_BACKUP_24080.php
filter/edusharing/version_BASE_24080.php
filter/edusharing/version_LOCAL_24080.php
filter/edusharing/version_REMOTE_24080.php
