/*
!/blocks
/blocks/*
!/blocks/edusharing_search
!/blocks/edusharing_upload
!/blocks/edusharing_workspace

!/filter
/filter/*
!/edusharing

!/lib
/lib/*
!/editor
/editor/*
!/edusharing

!/mod
/mod/*
!/edusharing


!LICENSE
!README.md