
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e4f3f9;
    margin: 0;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    font-weight: bold;
    color: #00a0d2;
}
h3{
    display: inline;
}

p{
    line-height: 2;
}

input{
    padding: 12px 24px;
    padding-left: 6px;
    margin-right: 12px;
    max-height: 48px;
    background: #fff;
}

.btn{
    display: inline-block;
    margin: 12px 4px;
    padding: 12px 24px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #48708e;
    color: #ecf0f1;
    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #183f5c;
}

.h5p-header{
    width: 100%;
    display: flex;
    align-content: baseline;
    color: #fff;
    background: #383838;
    background-image: url('../edusharing/pix/edulogo-white-text.svg');
    background-position: right 20px top 20px;
    background-size: 120px auto;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    border-bottom: 6px solid #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

.h5p-header h1{
    padding-left: 40px;
}

.menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-left: 16px;
    padding-right: 20px;
    background: #505050;
    border-radius: 2px;
}

ul{
    padding-inline-start: 0;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    color: #ddd;
    transition: ease-in-out 0.5s;
}

.menu li a:hover{
    color: #00a0d2;
}

.wrap{
    width: 90%;
    margin: 0 auto;
    background: white;
    padding: 24px;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .15);
}

.edu_error{
    display: block;
    background: lightcoral;
    padding: 12px 24px;
}

.edu_success{
    display: block;
    background: lightgreen;
    padding: 12px 24px;
}

select{
    text-align: right;
    padding: 10px 20px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 2px;
}

input[type="text"]{
    width: 40%;
    min-width: 400px;
}

.edu_metadata{
    background: #f5f5f5;
    padding: 8px;
    border: 1px solid #bbb;
}

.edu_metadata p{
    padding: 4px 15px;
}
.edu_example{
    font-size: 14px;
    color: #aaa;
}

.edu_example a{
    color: #00a0d2;
}

.edu_endpoint{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.edu_export{
    font-style: italic;
    color: #555;
    background: #e8e8e8;
    padding: 2px 8px;
}

.repo-reg{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 4px dotted #bbb;
}

.repo_input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.repo_input .short_input{
    min-width: 50px;
    max-width: 194px;
}
