<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>search config. Is taken for applications that
		can act like both a client(LMS/repository) and a server
		application(repository)</comment>

	<!-- Caption of Apllication -->
	<entry
		key="appcaption">local</entry>

	<!-- ID of Apllication -->
	<entry
		key="appid">repository</entry>

	<!-- says if application is allowd to act like a client -->
	<entry
		key="trustedclient">true</entry>

	<!-- the type LMS, repository -->
	<entry
		key="type">REPOSITORY</entry>

	<!-- Path to the Authentication Web Service -->
	<entry
		key="authenticationwebservice">http://lms.domain.tld/edu-sharing/services/authentication</entry>
	<entry
		key="authenticationwebservice_wsdl">http://lms.domain.tld/edu-sharing/services/authentication?wsdl</entry>

	<!-- Path to the Usage Web Service -->
	<entry
		key="usagewebservice">http://repository.domain.tld/edu-sharing/services/usage</entry>
	<entry
		key="usagewebservice_wsdl">http://repository.domain.tld/edu-sharing/services/usage?wsdl</entry>

	<!-- Path to the native Alfresco Web Services -->
	<entry
		key="alfresco_webservice_url">http://repository.domain.tld/alfresco/api</entry>

	<!-- host: client: trusted host server: access url -->
	<entry
		key="host">repository.domain.tld</entry>

	<!-- port: server: access url -->
	<entry
		key="port">8080</entry>

	<!-- wspath:server: access url -->
	<entry
		key="wspath">/alfresco/api</entry>
	<entry
		key="alfrescocontext">/alfresco</entry>

	<entry
		key="contenturl">http://repository.domain.tld/esrender/application/esmain/index.php</entry>

	<!-- searchclass: only repositories. this is important only for the home 
		repository, cause to access remote repositories there must be used the MCAlfrescoWSClient 
		always -->
	<entry
		key="searchclass">de.cc.search.server.MCAlfrescoWSClient</entry>

	<!-- nodeid_key: Repository Property. The name of the ID of Nodes -->
	<entry
		key="nodeid_key">uuid</entry>

	<!-- explorer-start-nodeid: only for repositories -->
	<!-- entry key="explorer-start-nodeid">90b8f896-6a1d-11dd-9edb-49a38fe89288</entry -->

	<!-- is_home_node: Repository Property. says if this is the local and primary 
		repository -->
	<entry
		key="is_home_node">true</entry>

	<!-- credentials of default User -->
	<entry
		key="username">admin</entry>
	<entry
		key="password">changeMeNow</entry>

</properties>
