<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Search-config. Is taken for applications that can act like both a client(LMS/repository) and a server application(repository)</comment>
	<entry key="trustedclient">true</entry>
	<entry key="type">LMS</entry>
	<entry key="host"></entry>
	<entry key="appid">my_node_id</entry>
	<entry key="homerepid">my_repository_id</entry>
	<entry key="contenturl"></entry>
	<entry key="cc_webservice_url"></entry>
	<entry key="cc_authentication_path"></entry>
	<entry key="cc_gui_url"></entry>
	<entry key="private_key"></entry>
	<entry key="public_key"></entry>
	<entry key="signatureRedirector"></entry>
</properties>
